footer {
  margin: 80px 8px 0 8px;
  
  .footer-content {
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid black;
    max-width: 1440px;
  }

  small {
    text-align: right;
  }

  @include bp($xs) {
    margin: 80px 16px 0 16px;

    .footer-content {
      padding: 16px 0;
    }
  }

  @include bp($sm){
    margin: 320px 32px 0 32px;

    .footer-content {
      padding: 16px 0;
    }
  }

  address {
    line-height: 1.5;
  }
}