header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 200;
  h1 {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition: opacity .25s, transform .25s;
  }

  nav{
    height: 16px;
    a + a {
      margin-left: 8px;
      @include bp($xs){
        margin-left: 16px;
      }
      @include bp($sm){
        margin-left: 32px;
      }
    }
  }

  &.transparent-header {
    @include bp($sm) {
      background-color: transparent;
    }
  }
}

.header-content {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  @include bp($xs){
    padding: 16px;
  }
  @include bp($sm) {
    padding: 32px;
  }
}