* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
}

img {
  display: block;
}

nav a.active,
nav a:hover {
  color: #5B98CA;
}

address {
  font-style: normal;
}

section {
  padding: 0 8px;
  margin: auto;
  max-width: 1440px;
}
@media (min-width: 360px) {
  section {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  section {
    padding: 0 32px;
  }
}

.section-header {
  position: sticky;
  top: 80px;
  padding-top: 16px;
  background-color: #f3f3f3;
}
@media (min-width: 768px) {
  .section-header {
    top: 112px;
    padding-top: 32px;
  }
}

@font-face {
  font-family: "Luxi Serif";
  src: url("https://izzee.github.io/ACA/fonts/LuxiSerif.woff2") format("woff2"), url("https://izzee.github.io/ACA/fonts/LuxiSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: proxima-nova, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
  line-height: 1;
  font-family: "Luxi Serif", serif;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    padding-bottom: 16px;
    height: 56px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1;
  font-family: "Luxi Serif", serif;
}
@media (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  font-family: proxima-nova-condensed, sans-serif;
}
@media (min-width: 768px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 20px;
  font-family: proxima-nova-condensed, sans-serif;
}
@media (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 14px;
  font-family: "Luxi Serif", serif;
}
@media (min-width: 768px) {
  h5 {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-family: "Luxi Serif", serif;
  font-size: 16px;
}

p, a, address, small {
  font-size: 12px;
}
@media (min-width: 768px) {
  p, a, address, small {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  p, a, address, small {
    line-height: 1.5;
  }
}

@media (min-width: 360px) {
  p {
    font-size: 16px;
  }
}

p, address, small {
  font-family: proxima-nova-condensed, sans-serif;
}

.hero-logo, .header-logo {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  height: 48px;
}
.hero-logo .logo-chabon, .header-logo .logo-chabon {
  font-size: 20px;
}
@media (min-width: 768px) {
  .hero-logo .logo-chabon, .header-logo .logo-chabon {
    font-size: 24px;
  }
}
.hero-logo .logo-architects, .header-logo .logo-architects {
  font-size: 13px;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .hero-logo .logo-architects, .header-logo .logo-architects {
    font-size: 16px;
  }
}

header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 200;
}
header h1 {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: opacity 0.25s, transform 0.25s;
}
header nav {
  height: 16px;
}
header nav a + a {
  margin-left: 8px;
}
@media (min-width: 360px) {
  header nav a + a {
    margin-left: 16px;
  }
}
@media (min-width: 768px) {
  header nav a + a {
    margin-left: 32px;
  }
}
@media (min-width: 768px) {
  header.transparent-header {
    background-color: transparent;
  }
}

.header-content {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
}
@media (min-width: 360px) {
  .header-content {
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .header-content {
    padding: 32px;
  }
}

footer {
  margin: 80px 8px 0 8px;
}
footer .footer-content {
  padding: 8px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid black;
  max-width: 1440px;
}
footer small {
  text-align: right;
}
@media (min-width: 360px) {
  footer {
    margin: 80px 16px 0 16px;
  }
  footer .footer-content {
    padding: 16px 0;
  }
}
@media (min-width: 768px) {
  footer {
    margin: 320px 32px 0 32px;
  }
  footer .footer-content {
    padding: 16px 0;
  }
}
footer address {
  line-height: 1.5;
}

.projects h3 {
  padding-bottom: 16px;
  line-height: 1;
}
.projects .projects-wrapper {
  margin: 16px 0;
  grid-gap: 8px;
}
@media (min-width: 768px) {
  .projects .projects-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects .project {
  overflow: hidden;
}
.projects .project img {
  width: 100%;
}
.projects .project h5 {
  height: 32px;
  line-height: 1;
  padding-top: 4px;
}
@media (min-width: 768px) {
  .projects .project h5 {
    padding-top: 8px;
    height: 40px;
  }
}
.projects .project:hover {
  color: #5B98CA;
}

.projects-nav {
  height: 40px;
  text-align: right;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
  .projects-nav {
    justify-content: flex-end;
  }
  .projects-nav a + a {
    margin-left: 32px;
  }
}

@media (min-width: 768px) {
  .project-page nav {
    border-bottom: 0;
  }
}
@media (max-width: 767px) {
  .project-page .section-header {
    background-color: #f3f3f3;
  }
}

.project-detail {
  position: sticky;
  top: 312px;
}
.project-detail .project-hero {
  width: 100%;
  z-index: -1;
  background-color: #f3f3f3;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .project-detail .project-hero {
    padding-top: 16px;
    margin-top: 0;
    position: sticky;
    top: 112px;
    border-top: 1px solid black;
    max-height: calc(100vh - 256px);
  }
}
.project-detail .project-hero img {
  width: 100%;
  max-height: inherit;
  object-fit: cover;
  object-position: center center;
}
.project-detail .project-info {
  grid-template-columns: 1fr auto;
  padding-bottom: 32px;
  background-color: #f3f3f3;
}
.project-detail .project-info > * {
  background-color: #f3f3f3;
  border-color: transparent;
  transition: transform 0.5s, opacity 0.5s, color 0.25s;
}
.project-detail .project-info.top {
  background-color: transparent;
}
@media (min-width: 768px) {
  .project-detail .project-info.top .project-description, .project-detail .project-info.top .img-caption {
    background-color: transparent;
    color: transparent;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
  }
  .project-detail .project-info.top .spacer,
.project-detail .project-info.top .project-title {
    border-bottom: 1px solid black;
    box-shadow: 0 16px 0 #f3f3f3;
    transition: border-color 2s;
  }
  .project-detail .project-info.top .spacer {
    border-right: 1px solid black;
  }
}
@media (min-width: 768px) {
  .project-detail .project-info {
    top: 0px;
    position: sticky;
    display: grid;
  }
}
.project-detail .project-title {
  padding: 16px 0;
}
@media (min-width: 768px) {
  .project-detail .project-title {
    padding: 32px 0;
    z-index: 300;
    padding-left: 40px;
  }
}
.project-detail .img-caption {
  grid-area: 2/1;
  font-family: proxima-nova-condensed, sans-serif;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .project-detail .img-caption {
    width: 144px;
  }
}
.project-detail .project-description {
  font-family: proxima-nova-condensed, sans-serif;
}
@media (max-width: 767px) {
  .project-detail .project-description {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .project-detail .project-description {
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .project-detail .img-caption,
.project-detail .project-description {
    line-height: 1.5;
  }
}
.project-detail .project-images {
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  padding-top: 16px;
}
@media (min-width: 360px) {
  .project-detail .project-images {
    grid-gap: 16px;
  }
}
@media (min-width: 768px) {
  .project-detail .project-images {
    padding-top: 160px;
  }
}
@media (max-width: 767px) {
  .project-detail .project-images {
    z-index: 500;
    position: relative;
  }
}
.project-detail .project-images img {
  object-fit: contain;
  max-width: 100%;
}
.project-detail .project-images img.full {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 767px) {
  .project-detail .project-images img.half {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.project-detail .photo-credit {
  margin-top: 16px;
}

.contact .contact-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
}
.contact address {
  grid-column-start: 0;
  grid-column-end: 2;
}
@media (min-width: 768px) {
  .contact address {
    padding: 32px 32px 0 0;
    border-right: 1px solid black;
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
}
@media (max-width: 767px) {
  .contact form {
    order: -1;
  }
}
.contact input, .contact textarea {
  padding: 8px 4px 0;
  height: 24px;
  margin-top: 32px;
  border: none;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-family: proxima-nova-condensed, sans-serif;
  font-size: 16px;
  line-height: 1;
}
.contact input::placeholder, .contact textarea::placeholder {
  opacity: 1;
}
.contact input:focus, .contact textarea:focus {
  outline: none;
  border-bottom: 1px solid #5B98CA;
}
.contact input:focus::placeholder, .contact textarea:focus::placeholder {
  color: #5B98CA;
}
.contact input:invalid, .contact textarea:invalid {
  outline: none;
  box-shadow: none;
}
.contact input:invalid::placeholder, .contact textarea:invalid::placeholder {
  color: #ca5b5b;
}
.contact textarea {
  resize: vertical;
  min-height: 24px;
}
.contact button {
  align-self: flex-end;
  -webkit-appearance: none;
  border: 1px solid black;
  font-size: 16px;
  height: 32px;
  width: 80px;
  margin: 24px 0;
}

.about > * + * {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .about > * + * {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .about .about-wrapper {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
.about .about-wrapper img {
  grid-column-start: 3;
  grid-column-end: 6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 3;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about .about-wrapper img {
    padding: 16px 0 16px 16px;
  }
}
.about h4 {
  letter-spacing: 0.5px;
}
.about .about-content {
  grid-column-start: 1;
  grid-column-end: 3;
  flex: 2;
}
@media (min-width: 768px) {
  .about .about-content {
    padding: 16px 16px 16px 0;
  }
}
.about .about-content p {
  line-height: 1.5;
}
.about .about-content p + p {
  margin-top: 16px;
}
.about .avatar {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
}
@media (min-width: 768px) {
  .about .principal-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .about .principal-wrapper .principal-content {
    grid-column-start: 2;
    grid-column-end: 6;
    margin-left: 32px;
  }
  .about .principal-wrapper h3 {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .about .principal-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
  }
  .about .principal-wrapper .avatar {
    padding: 16px;
  }
  .about .principal-wrapper h3 {
    text-align: center;
  }
}
.about .principal-wrapper .avatar {
  grid-column-start: 1;
  grid-column-end: 2;
}
.about .team-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding-top: 16px;
  border-top: 1px solid black;
}
@media (min-width: 768px) {
  .about .team-wrapper {
    padding-top: 32px;
    grid-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .about .team-wrapper {
    grid-gap: 64px;
    grid-template-columns: repeat(5, 1fr);
  }
}
.about .team-member {
  text-align: center;
}
.about .team-member .avatar {
  margin-bottom: 8px;
}

.homepage {
  overflow: scroll;
}
.homepage .top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 112px;
  z-index: 100;
}
.homepage header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  transition: transform 0.5s, opacity 0.2s;
  color: inherit;
}
@media (min-width: 768px) {
  .homepage header {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.homepage .hero {
  max-height: calc(100vh - 304px);
  overflow: hidden;
  max-width: 100vw;
  min-height: 500px;
}
@media (min-width: 768px) {
  .homepage .hero {
    min-height: 100vh;
    transition: opacity 0.5s;
  }
}
.homepage .hero img {
  min-width: 100vw;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s;
}
@media (min-width: 768px) {
  .homepage .hero img {
    height: 100vh;
  }
}
.homepage .hero img:not(.active) {
  opacity: 0;
}
.homepage .hero .hero-image {
  position: relative;
  min-height: 500px;
}
.homepage .hero .hero-logo {
  display: none;
}
.homepage .hero .hero-logo .logo-chabon {
  font-size: 64px;
}
.homepage .hero .hero-logo .logo-architects {
  font-size: 42px;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .homepage .hero .hero-logo {
    display: flex;
    z-index: 200;
    position: fixed;
    left: 50%;
    bottom: 50%;
    width: 300px;
    height: 300px;
    top: calc((var(--vh, 1vh) * 50));
    background-color: #00000066;
    color: white;
    border: 2px solid;
    transform: translate(-50%, -50%);
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
  }
}
.homepage #intro {
  margin-top: 24px;
}
.homepage #intro p {
  font-size: 24px;
}
@media (min-width: 768px) {
  .homepage #intro {
    opacity: 0;
    margin-top: 160px;
    transform: translateY(112px);
    transition: transform 0.5s, opacity 0.5s;
  }
  .homepage #intro p {
    font-size: 48px;
  }
}
.homepage.half-scroll #intro {
  opacity: 1;
  transform: translateY(0);
}
.homepage.half-scroll .hero .hero-logo {
  color: transparent;
  background-color: transparent;
  transform: translate(-50%, -25%);
  pointer-events: none;
}
.homepage.full-scroll .heroImg {
  opacity: 0;
}
.homepage header.visible, .homepage.full-scroll header {
  opacity: 1;
  transform: translateY(0);
}

.press .container {
  margin-top: 80px;
  max-width: 1440px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}
@media (min-width: 1024px) {
  .press .container {
    display: flex;
    justify-content: space-between;
  }
}
.press img, .press svg {
  opacity: 0.5;
  max-height: 80px;
}
@media (max-width: 767px) {
  .press img, .press svg {
    margin: 32px auto;
    max-width: 50vw;
  }
}
@media (min-width: 768px) {
  .press {
    margin-top: 160px;
  }
}
